﻿@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Success!";
}
<div class="reg-confirm">
    <h1 class="title">@ViewData["Title"]</h1>
    <p class="para "> Your email is confirmed successfully. Click <a asp-page="./Login" class="click">here</a> to enter WATERrhythms</p>
</div>

<style>
    body {
        background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(62,45,253,1) 100%);
    }

    .reg-confirm {
        width: 100%;
        height: 100%;
    }

    .title {
        color: white;
        font-size: 60px;
        font-weight: 300;
        letter-spacing: 2.5px;
        text-align: center;
        padding-top: 50px;
    }

    .para {
        color: white;
        font-weight: 200;
        font-size: 16pt;
        letter-spacing: 2px;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 800px;
    }

    .click {
        color: darkcyan;
    }

    .click:hover{
        text-decoration: none;
        color:darkcyan;
    }
</style>