﻿@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<h4 id="external-login-title">Associate your @Model.ProviderDisplayName account.</h4>
<hr />

<p id="external-login-description" class="text-info">
    You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
    Please enter an email address for this site below and click the Register button to finish
    logging in.
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>

    #change-password-form {
        padding-bottom: 200px;
    }

    body {
        background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(62,45,253,1) 100%);
    }

    .reg-confirm {
        width: 100%;
        height: 100%;
    }

    .title {
        font-family: 'Poppins', sans-serif;
        color: white;
        font-size: 40px;
        font-weight: 300;
        letter-spacing: 2.5px;
        text-align: left;
        padding-top: 0px;
        padding-bottom: 30px;
    }

    .para {
        font-family: 'Poppins', sans-serif;
        color: white;
        font-weight: 200;
        font-size: 16pt;
        letter-spacing: 2px;
        text-align: center;
    }
</style>