﻿@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="reg-confirm">
    <h1 class="title">@ViewData["Title"]</h1>
</div>

@{
    if (@Model.DisplayConfirmAccountLink)
    {
    <p class="para">
        Error in Sign up. Please try again later. 
        <br>
    </p>
    }
    else
    {
        <p class="para">
            Thank  you for Signing up with WATERrythms. 
            <br />
            Please check your email to confirm your account.
        </p>
    }
}

<style>
    body {
        background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(62,45,253,1) 100%);
    }

    .reg-confirm{
        width:100%;
        height:100%;
    }
    .title {
        color: white;
        font-size:60px;
        font-weight: 300;
        letter-spacing: 2.5px;
        text-align: center;
        padding-top: 50px;
    }

    .para{
        color:white;
        font-weight:200;
        font-size: 16pt;
        letter-spacing: 2px;
        text-align:center;
        padding-top:50px;
        padding-bottom:800px;

    }
</style>