﻿@page
@model RegisterModel

<div class="row">
    <div class="col-md-6 col-md-6 limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <span class="login100-form-logo">
                        <a href="/"><img class="image-logo" src="~/images/logo.png"></a>
                    </span>

                    <span asp-route-returnUrl="@Model.ReturnUrl" method="post" class="login100-form-title p-b-34 p-t-27">
                        Create a new account
                    </span>
                    <br>
                    <div asp-validation-summary="All" class="text-validate"></div>

                    <div class="wrap-input100 validate-input">
                        <input asp-for="Input.FirstName" class=" input100" type="text" name="firstname" placeholder="First Name">
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        <span asp-validation-for="Input.FirstName" class="text-validate"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        <input asp-for="Input.Email" class=" input100" type="text" name="email" placeholder="Email">
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        <span asp-validation-for="Input.Email" class="text-validate"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        <input asp-for="Input.Password" class="input100" type="password" name="password" placeholder="Password">
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                        <span asp-validation-for="Input.Password" class="text-validate"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        <input asp-for="Input.ConfirmPassword" class="input100" type="password" name="confirmpassword" placeholder="Re-Enter Password">
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-validate"></span>
                    </div>


                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Remember me
                        </label>
                    </div>

                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">
                            Register
                        </button>
                    </div>

                    <div class="small-text-wrapper">
                        <label class="small-text">
                            Already have an account?
                            <a class="small-text" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Login</a>
                        </label>
                    </div>
                    <section>
                        @{
                            if ((Model.ExternalLogins?.Count ?? 0) == 0)
                            {
                                <div>
                                    <p>
                                        There are no external authentication services configured.
                                    </p>
                                </div>
                            }
                            else
                            {
                                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                    <div>
                                        <p>
                                            @foreach (var provider in Model.ExternalLogins)
                                            {
                                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                            }
                                        </p>
                                    </div>
                                </form>
                            }
                        }
                    </section>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>

    body {
        background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(62,45,253,1) 100%);
    }
    /*********logo ***********/
    .image-logo {
        height: 120px;
    }

    /*********validation text***********/
    .text-validate {
        margin-bottom: 25px;
        color: white;
        font-weight:100;
    }

    /*********small text***********/
    .small-text {
        font-family: 'Poppins', sans-serif;
        font-size: 12pt;
        font-weight: 200;
        color: white;
    }

    .small-text-wrapper {
        padding-top: 15px;
    }

    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    body, html {
        height: 100%;
        font-family: 'Poppins', sans-serif;
    }

    /*---------------------------------------------*/
    a {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.7;
        color: #666666;
        margin: 0px;
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
    }

    a:focus {
        outline: none !important;
    }

    a:hover {
        text-decoration: none;
      color: #fff;
    }

    /*---------------------------------------------*/
    h1,h2,h3,h4,h5,h6 {
        margin: 0px;
    }

    p {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        line-height: 1.7;
        color: #666666;
        margin: 0px;
    }

    ul, li {
        margin: 0px;
        list-style-type: none;
    }


    /*---------------------------------------------*/
    input {
        outline: none;
        border: none;
    }

    textarea {
      outline: none;
      border: none;
    }

    textarea:focus, input:focus {
      border-color: transparent !important;
    }

    input:focus::-webkit-input-placeholder { color:transparent; }
    input:focus:-moz-placeholder { color:transparent; }
    input:focus::-moz-placeholder { color:transparent; }
    input:focus:-ms-input-placeholder { color:transparent; }

    textarea:focus::-webkit-input-placeholder { color:transparent; }
    textarea:focus:-moz-placeholder { color:transparent; }
    textarea:focus::-moz-placeholder { color:transparent; }
    textarea:focus:-ms-input-placeholder { color:transparent; }

    input::-webkit-input-placeholder { color: #fff;}
    input:-moz-placeholder { color: #fff;}
    input::-moz-placeholder { color: #fff;}
    input:-ms-input-placeholder { color: #fff;}

    textarea::-webkit-input-placeholder { color: #fff;}
    textarea:-moz-placeholder { color: #fff;}
    textarea::-moz-placeholder { color: #fff;}
    textarea:-ms-input-placeholder { color: #fff;}

    label {
      margin: 0;
      display: block;
    }

    /*---------------------------------------------*/
    button {
        outline: none !important;
        border: none;
        background: transparent;
    }

    button:hover {
        cursor: pointer;
    }

    iframe {
        border: none !important;
    }


    /*//////////////////////////////////////////////////////////////////
    [ Utility ]*/
    .txt1 {
      font-family: Poppins;
      font-size: 13px;
      color: #e5e5e5;
      line-height: 1.5;
    }


    /*//////////////////////////////////////////////////////////////////
    [ login ]*/

    .limiter {
      width: 100%;
      margin: 0 auto;
    }

    .container-login100 {
        width: 100%;
        min-height: 100vh;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        z-index: 1;
    }

    .container-login100::before {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    .wrap-login100 {
        width: 420px;
        border-radius: 4px;
        overflow: hidden;
        padding: 55px 55px 37px 55px;
        background: rgb(6,70,161);
        background: linear-gradient(4deg, rgba(6,70,161,1) 0%, rgba(1,138,232,1) 33%, rgba(105,228,237,1) 67%);
    }


    /*------------------------------------------------------------------
    [ Form ]*/

    .login100-form {
      width: 100%;
    }

    .login100-form-logo {
      font-size: 60px;
      color: #333333;

      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background-color: #fff;
      margin: 0 auto;
    }

    .login100-form-title {
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
        font-weight: 300;
        color: #fff;
        line-height: 1.2;
        text-align: center;
        text-transform: uppercase;
        display: block;
        margin-top:25px;
    }


    /*------------------------------------------------------------------
    [ Input ]*/

    .wrap-input100 {
      width: 100%;
      position: relative;
      border-bottom: 2px solid rgba(255,255,255,0.24);
      margin-bottom: 30px;
    }

    .input100 {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight:200;
        color: #fff;
        line-height: 1.2;
        display: block;
        width: 100%;
        height: 45px;
        background: transparent;
        padding: 0 5px 0 38px;
    }

    /*---------------------------------------------*/
    .focus-input100 {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none;
    }

    .focus-input100::before {
      content: "";
      display: block;
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 2px;

      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;

      background: #fff;
    }

        .focus-input100::after {
            font-family: 'Poppins', sans-serif;
            font-size: 22px;
            color: #fff;
            content: attr(data-placeholder);
            display: block;
            width: 100%;
            position: absolute;
            top: 6px;
            left: 0px;
            padding-left: 5px;
            -webkit-transition: all 0.4s;
            -o-transition: all 0.4s;
            -moz-transition: all 0.4s;
            transition: all 0.4s;
        }

    .input100:focus {
      padding-left: 5px;
    }

    .input100:focus + .focus-input100::after {
      top: -22px;
      font-size: 18px;
    }

    .input100:focus + .focus-input100::before {
      width: 100%;
    }

    .has-val.input100 + .focus-input100::after {
      top: -22px;
      font-size: 18px;
    }

    .has-val.input100 + .focus-input100::before {
      width: 100%;
    }

    .has-val.input100 {
      padding-left: 5px;
    }


    /*==================================================================
    [ Restyle Checkbox ]*/

    .contact100-form-checkbox {
      padding-left: 5px;
      padding-top: 5px;
      padding-bottom: 35px;
    }

    .input-checkbox100 {
      display: none;
    }

    .label-checkbox100 {
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        font-weight: 200;
        color: #fff;
        line-height: 1.2;
        display: block;
        position: relative;
        padding-left: 26px;
        cursor: pointer;
    }

        .label-checkbox100::before {
            content: "\f26b";
            font-family: 'Poppins', sans-serif;
            font-size: 13px;
            color: transparent;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 2px;
            background: #fff;
            left: 0;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
        }

    .input-checkbox100:checked + .label-checkbox100::before {
      color: #555555;
    }


    /*------------------------------------------------------------------
    [ Button ]*/
    .container-login100-form-btn {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .login100-form-btn {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        color: #555555;
        line-height: 1.2;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        min-width: 120px;
        height: 50px;
        border-radius: 25px;
        background: #9152f8;
        background: -webkit-linear-gradient(bottom, #7579ff, #b224ef);
        background: -o-linear-gradient(bottom, #7579ff, #b224ef);
        background: -moz-linear-gradient(bottom, #7579ff, #b224ef);
        background: linear-gradient(bottom, #7579ff, #b224ef);
        position: relative;
        z-index: 1;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }

    .login100-form-btn::before {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      border-radius: 25px;
      background-color: #fff;
      top: 0;
      left: 0;
      opacity: 1;

      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;
    }

    .login100-form-btn:hover {
      color: #fff;
    }

    .login100-form-btn:hover:before {
      opacity: 0;
    }


    /*------------------------------------------------------------------
    [ Responsive ]*/




    /*------------------------------------------------------------------
    [ Alert validate ]*/

    .validate-input {
      position: relative;
    }

    .alert-validate::before {
      content: attr(data-validate);
      position: absolute;
      max-width: 70%;
      background-color: #fff;
      border: 1px solid #c80000;
      border-radius: 2px;
      padding: 4px 25px 4px 10px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 0px;
      pointer-events: none;

      font-family: Poppins-Regular;
      color: #c80000;
      font-size: 13px;
      line-height: 1.4;
      text-align: left;

      visibility: hidden;
      opacity: 0;

      -webkit-transition: opacity 0.4s;
      -o-transition: opacity 0.4s;
      -moz-transition: opacity 0.4s;
      transition: opacity 0.4s;
    }

    .alert-validate::after {
      content: "\f12a";
      font-family: FontAwesome;
      font-size: 16px;
      color: #c80000;

      display: block;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 5px;
    }

    .alert-validate:hover:before {
      visibility: visible;
      opacity: 1;
    }

</style>