﻿@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <div class="login-container ">
            <a class="btn login-header" href="authentication/profile">Hello, @context.User.Identity.Name!</a>
            <a class="btn login-header" href="authentication/profile">Profile</a>
            <button class="btn login-header" @onclick="BeginSignOut">Log out</button>

        </div>
    </Authorized>
    <NotAuthorized>
        <div class="login-container ">
            <a class="btn login-header" href="authentication/register">Register</a>
            <a class="btn login-header" href="authentication/login">Log in</a>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("Authentication/logout");
    }
}

<style>

    .login-container {
        display: inline-block;
        
    }
    .login-header {
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 16pt;
        font-weight: 200;
        letter-spacing: 2px;
        text-decoration: none;
        padding: 10px;
        text-align: right;
    }
        .login-header:hover {
            background-color: aliceblue;
            font-weight: 200;
            color:blue ;
            text-decoration: none;
        }
</style>