﻿@inherits LayoutComponentBase
<AuthorizeView>
    <Authorized>
        <div class="sidebar">
            <NavMenu />
        </div>
        <div class="bg">
            <div class="main">
                <div>
                    <LoginDisplay />
                    <a class="btn header-about" href="/about">About</a>
                </div>

                <div class="content px-4">
                    @Body
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="bg">
            <div class="main">
                <a href="/" class="homepage-title"><span class="logo-title01">WATER</span><span class="logo-title02">rhythms</span></a>
                <span class="header-bar">
                    <LoginDisplay />
                    <a class="btn header-about" href="/about">About</a>
                </span>

            </div>

            <div class="content px-4">
                @Body
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>


<style>

    .main {
        height: 200px;
    }

    .homepage-title {
        padding-left: 30px;
        padding-right: 50%;
        margin-top: 40px;
    }

        .homepage-title:hover {
            text-decoration: none;
        }

    .logo-title01 {
        color: white;
        font-size: 20pt;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        letter-spacing: 8px;
        text-decoration: none;
    }

    .logo-title02 {
        font-size: 16pt;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        color: black;
        letter-spacing: 1.5px;
        text-decoration: none;
    }

    .header-about {
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 16pt;
        font-weight: 200;
        letter-spacing: 2px;
        text-decoration: none;
        padding: 10px;
    }

        .header-about:hover {
            background-color: aliceblue;
            font-weight: 200;
            color: blue;
            text-decoration: none;
        }
</style>
