﻿
        <div class="top-row pl-4 navbar navbar-dark">
            <a class="navbar-brand" href="/"><span class="logo-title01">WATER</span><span class="logo-title02">rhythms</span></a>
            <button class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <ul class="nav flex-column">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="profile">
                        <span class="oi oi-globe" aria-hidden="true"></span> Profile
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="infoapi">
                        <span class="oi oi-info" aria-hidden="true"></span> Info API
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="mapnav">
                        <span class="oi oi-map" aria-hidden="true"></span> Map & Navigation
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="medialib">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Multimedia Library
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="imgedit">
                        <span class="oi oi-aperture" aria-hidden="true"></span> Image Tool
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="blog">
                        <span class="oi oi-align-center" aria-hidden="true"></span> Blog
                    </NavLink>
                </li>
            </ul>
        </div>

           
                @code {
                    private bool collapseNavMenu = true;

                    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

                    private void ToggleNavMenu()
                    {
                        collapseNavMenu = !collapseNavMenu;
                    }
                }

<style>

    .sidebar .top-row {
        background: rgb(0,2,36);
        background: linear-gradient(90deg, rgba(0,2,36,0.9279061966583508) 0%, rgba(0,2,36,0.9279061966583508) 0%, rgba(21,21,128,1) 56%, rgba(21,70,120,1) 100%);
    }

    .homepage-title {
        margin-top: 0px;
        padding: 0px;
    }

        .homepage-title:hover {
            text-decoration: none;
        }

    .logo-title01 {
        color: white;
        font-size: 18pt;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        letter-spacing: 4px;
        margin-left: -15px;
        text-decoration: none;
        text-shadow: 0 0 3px #000000;
    }

    .logo-title02 {
        font-size: 14pt;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        color: black;
        letter-spacing: 1px;
        text-decoration: none;
    }
</style>