﻿@page "/about"

<div class="about-container">
    <h3 class="about-title">About WATERrhythms</h3>
    <p class="para">
        WATERrhythm is a lifestyle application deliberately developed for all the water enthusiasts in Long Island, New York city.
        <br />
        You can get information about all the water bodies and related places.
        <br />
        You can make communities and get to know others who loves water and water sports as you.
        <br />
        Enjoy your time with WATERrhythms.
        <br />
        For any inquiry please contact our support team.
    </p>
</div>

@code {

}

<style>
        .about-container {
        -webkit-backdrop-filter: blur(45px);
        backdrop-filter: blur(45px);
        background-color: rgba(248, 248, 248, 0.1);
    }

    .about-title {
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 34pt;
        height: 100px;
        font-weight: 200;
        letter-spacing: 2px;
        text-align: center;
    }
    .para {
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 16pt;
        font-weight: 200;
        text-align: center;
        letter-spacing: 1px;
    }
</style>
