@page "/authentication/{action}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager navigationmanager
<RemoteAuthenticatorView Action="@Action" >
    <LogOutSucceeded>
        @{ navigationmanager.NavigateTo("/");}
    </LogOutSucceeded>
</RemoteAuthenticatorView>

@code{
    [Parameter] public string Action { get; set; }
}
