﻿@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h4 class="title">@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.OldPassword" class="para"></label>
                <input asp-for="Input.OldPassword" class="form-control" />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.NewPassword" class="para"></label>
                <input asp-for="Input.NewPassword" class="form-control" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword" class="para"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Update password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>

    #change-password-form{
        padding-bottom:200px;
    }
    body {
        background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(62,45,253,1) 100%);
    }

    .reg-confirm {
        width: 100%;
        height: 100%;
    }

    .title {
        font-family: 'Poppins', sans-serif;
        color: white;
        font-size: 40px;
        font-weight: 300;
        letter-spacing: 2.5px;
        text-align: left;
        padding-top: 0px;
        padding-bottom: 30px;
    }

    .para {
        font-family: 'Poppins', sans-serif;
        color: white;
        font-weight: 200;
        font-size: 16pt;
        letter-spacing: 2px;
        text-align: center;
    }
</style>